In [1]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

In [19]:
pd.__version__

'2.3.2'

In [2]:
# Read the file
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
req = requests.get(url).content.decode('utf-8')

df = pd.read_csv(StringIO(req))

In [3]:
# Checking the data
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [4]:
# Checking the value of fuel_type column
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [5]:
# Checking the missing values
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [6]:
# Select max value of fuel_efficiency_mpg with the origin from Asia
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

In [7]:
# See the median value of column 'horsepower'
df['horsepower'].median()

149.0

In [8]:
# Calculate the most frequent value
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [9]:
# Filling the missing value in 'horsepower' column with the mode value of the column
df['horsepower'].fillna(152.0, inplace=True)

/tmp/ipykernel_3667/443563128.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(152.0, inplace=True)

In [10]:
# Check missing value 
print(df['horsepower'].isnull().sum())
print(df['horsepower'].sample(6))

0
6761    158.0
7445    170.0
6216    150.0
6044    169.0
8378    146.0
1126    137.0
Name: horsepower, dtype: float64

In [11]:
# Check 'horsepower' median again
df['horsepower'].median()

152.0

In [12]:
# Create Asia mask
asia = df[df['origin'] == 'Asia']

In [13]:
# Select column 'vehicle_weight' and 'model_year'
selected_cars = asia[['vehicle_weight', 'model_year']]

In [14]:
# Select first 7 value and save it as X matrix
seven = selected_cars.head(7)
X = seven.values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [15]:
# Compute matrix to matrix multiplication between the transpose of X and X
XTX = X.T @ X

In [16]:
# Invert the XTX
XTX_inv = np.linalg.inv(XTX)

In [17]:
# Creating y array with defined value
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [18]:
# Multiply XTX_inv with y, and save it as w var
w = XTX_inv @ X.T @ y
sum(w)

np.float64(0.5187709081074007)